<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Capacidad "Push Notifications". Xcode la cambia sola a "production"
	     al exportar para App Store / TestFlight. -->
	<key>aps-environment</key>
	<string>development</string>
</dict>
</plist>
